* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  font-size: 10px;
}

.invisible {
  margin: 0;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 120rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  width: 100vw;
  max-width: 100%;
  position: absolute;
  top: 6rem;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.logo__title {
  color: #f1cdb3;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.2rem;
}

.logo__subtitle {
  margin-top: 1rem;
  color: #ffffff;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 110%;
  letter-spacing: 0.13rem;
}

.menu {
  width: 44.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.list .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list .list__item .list__link {
  color: #ffffff;
  text-decoration: none;
  font-family: Arial;
  font-size: 1.5rem;
  line-height: 160%;
}

.list .list__item .list__link_active {
  border-bottom: 0.3rem solid #f1cdb3;
}

.list .list__item .list__link_disabled {
  color: #cdcdcd;
}

.list .list__item .list__link:hover {
  color: #ffffff;
  cursor: pointer;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.hero {
  padding-top: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../../assets/img/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.hero__wrapper {
  width: 120rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__image {
  width: 100%;
  max-width: 69.8rem;
  max-width: 72.8rem;
}

.content-section {
  padding-bottom: 8rem;
  max-width: 46.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-section__title {
  max-width: 31rem;
  color: #ffffff;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 130%;
}

.content-section__subtitle {
  margin-top: 4.2rem;
  font-size: 1.5rem;
  color: #cdcdcd;
  font-family: Arial;
  line-height: 160%;
}

.content-section__button {
  margin-top: 4rem;
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  border-radius: 10rem;
  line-height: 130%;
  letter-spacing: 0.11rem;
  cursor: pointer;
  outline: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #f1cdb3;
  border: none;
}

.content-section__button:hover {
  background-color: #fddcc4;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
}

.about__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8rem 17.5rem 10rem;
}

.about__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__image {
  width: 100%;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 43rem;
}

.about__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #545454;
}

.about__description {
  margin-top: 2.5rem;
}

.about__description p {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: #4c4c4c;
}

.about__description p:nth-child(2) {
  margin-top: 2.5rem;
}

.pets {
  padding-top: 8rem;
  padding-bottom: 10rem;
  background-color: #f6f6f6;
}

.pets__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__title {
  max-width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #545454;
}

.pets__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__content .pets__cards {
  padding: 6rem 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pets__content .pets__cards .pets__card {
  margin: 0 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-radius: 0.9rem;
}

.pets__content .pets__cards .pets__card__image {
  width: 100%;
}

.pets__content .pets__cards .pets__card__content {
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__content .pets__cards .pets__card__title {
  margin: 3rem 0;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.12rem;
  text-align: center;
}

.pets__content .pets__cards .pets__card__button {
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  border-radius: 10rem;
  line-height: 130%;
  letter-spacing: 0.11rem;
  cursor: pointer;
  outline: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: transparent;
  border: 2px solid #f1cdb3;
}

.pets__content .pets__cards .pets__card__button:hover {
  border-color: #fddcc4;
  background-color: #fddcc4;
}

.pets__content .pets__cards .pets__card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets__content .slider-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5.2rem;
  height: 5.2rem;
  border: 3px solid #f1cdb3;
  border-radius: 100%;
  padding: 1.9rem;
  background: none;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.pets__content .slider-button:hover {
  background-color: #fddcc4;
  border-color: #fddcc4;
}

.pets__content .slider-button_reverted {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5.2rem;
  height: 5.2rem;
  border: 3px solid #f1cdb3;
  border-radius: 100%;
  padding: 1.9rem;
  background: none;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.pets__content .slider-button_reverted:hover {
  background-color: #fddcc4;
  border-color: #fddcc4;
}

.pets__button {
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  border-radius: 10rem;
  line-height: 130%;
  letter-spacing: 0.11rem;
  cursor: pointer;
  outline: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #f1cdb3;
  border: none;
}

.pets__button:hover {
  background-color: #fddcc4;
}

.help {
  margin-top: 8.5rem;
  margin-bottom: 10rem;
}

.help__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.help__title {
  color: #545454;
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.help__title span {
  display: block;
}

.help__content {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 12rem;
          column-gap: 12rem;
  row-gap: 5.5rem;
}

.help__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help__item-title {
  margin-top: 3rem;
  color: #545454;
  text-align: center;
  letter-spacing: 0.11rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.12rem;
}

.donation {
  padding-top: 8rem;
  padding-bottom: 10.15rem;
  background-color: #f6f6f6;
}

.donation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.donation__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donation__content {
  margin-left: 3rem;
  max-width: 38rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.donation__title {
  width: 29rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  line-height: 135%;
}

.donation__subtitle {
  margin-top: 2rem;
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.09rem;
}

.donation__payment {
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  border-radius: 10rem;
  line-height: 130%;
  letter-spacing: 0.11rem;
  cursor: pointer;
  outline: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #f1cdb3;
  border: none;
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.donation__payment:hover {
  background-color: #fddcc4;
}

.donation__payment-text {
  padding-left: 1.5rem;
  text-decoration: none;
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.12rem;
  letter-spacing: 0.12rem;
}

.donation__description {
  margin-top: 2rem;
  color: #b2b2b2;
  font-family: Arial;
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 150%;
}

.footer {
  padding-top: 3.8rem;
  background: url(../../assets/img/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.footer__image-wrapper {
  max-height: 31rem;
  overflow: hidden;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
  -webkit-column-gap: 16rem;
          column-gap: 16rem;
}

.footer__locations, .footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  row-gap: 4rem;
}

.footer__locations-title, .footer__contacts-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.footer__locations-title span, .footer__contacts-title span {
  display: block;
}

.footer__locations-boston, .footer__locations-london, .footer__locations-phone, .footer__locations-mail, .footer__contacts-boston, .footer__contacts-london, .footer__contacts-phone, .footer__contacts-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__locations-boston-address, .footer__locations-boston-text, .footer__locations-london-address, .footer__locations-london-text, .footer__locations-phone-address, .footer__locations-phone-text, .footer__locations-mail-address, .footer__locations-mail-text, .footer__contacts-boston-address, .footer__contacts-boston-text, .footer__contacts-london-address, .footer__contacts-london-text, .footer__contacts-phone-address, .footer__contacts-phone-text, .footer__contacts-mail-address, .footer__contacts-mail-text {
  margin-left: 2rem;
  color: #f1cdb3;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.12rem;
  text-decoration: none;
}

.footer__locations-boston-address span, .footer__locations-boston-text span, .footer__locations-london-address span, .footer__locations-london-text span, .footer__locations-phone-address span, .footer__locations-phone-text span, .footer__locations-mail-address span, .footer__locations-mail-text span, .footer__contacts-boston-address span, .footer__contacts-boston-text span, .footer__contacts-london-address span, .footer__contacts-london-text span, .footer__contacts-phone-address span, .footer__contacts-phone-text span, .footer__contacts-mail-address span, .footer__contacts-mail-text span {
  display: block;
}

.footer__locations {
  row-gap: 3.4rem;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  header {
    top: 3rem;
  }
  .wrapper {
    max-width: 76.8rem;
    padding: 0 3rem;
  }
  .hero {
    padding-top: 15.1rem;
  }
  .hero__wrapper {
    width: 76.8rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 10rem;
  }
  .hero .content-section {
    max-width: 46rem;
    padding-bottom: 0rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero .content-section__button {
    margin-top: 4.25rem;
  }
  .hero .content-section__button__wrapper {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .hero__image-wrapper {
    padding-left: 14rem;
  }
  .about__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 8rem 10rem 10rem;
  }
  .about__image-wrapper {
    margin-top: 8rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about__content {
    max-width: 43.5rem;
  }
  .pets__content {
    width: 70.8rem;
  }
  .pets__content .pets__cards {
    margin: 0 1.2rem;
    padding: 5.8rem 0rem;
    overflow: hidden;
    width: 58rem;
  }
  .pets__content .pets__cards .pets__card {
    margin: 0 0rem;
    min-width: 27rem;
  }
  .pets__content .pets__cards .pets__card:nth-child(2) {
    margin: 0 4rem;
  }
  .help__content {
    margin: 5.5rem 3.9rem 0.3rem;
    -webkit-column-gap: 6rem;
            column-gap: 6rem;
  }
  .help__content .help__item {
    min-width: 17rem;
  }
  .donation {
    padding-top: 0rem;
    padding-bottom: 9.95rem;
  }
  .donation__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .donation__content {
    margin: 7.8rem 0 6rem;
  }
  .donation__image-wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer {
    padding-top: 3rem;
  }
  .footer .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 6.5rem;
  }
  .footer__content {
    margin-top: 0;
    margin-left: -0.7rem;
    -webkit-column-gap: 6rem;
            column-gap: 6rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  header {
    top: 3rem;
  }
  .wrapper {
    max-width: 32rem;
    padding: 0 1rem;
  }
  .menu {
    display: none;
  }
  .menu__burger {
    display: block;
    position: relative;
    top: 1.9rem;
    width: 3rem;
    height: 2.2rem;
    margin-right: 4.2rem;
  }
  .menu__burger::before,
  .menu__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background-color: black;
  }
  .menu__burger::after {
    top: 2rem;
  }
  .menu__burger span {
    position: absolute;
    width: 100%;
    height: 0.2rem;
    top: 1rem;
    background-color: black;
  }
  .hero {
    padding-top: 15.2rem;
  }
  .hero__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 2.6rem;
  }
  .hero .content-section {
    text-align: center;
  }
  .hero .content-section__title {
    text-align: center;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.145rem;
  }
  .hero__image-wrapper {
    padding-left: 4rem;
  }
  .about__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 4rem;
    padding-bottom: 4.3rem;
  }
  .about__image-wrapper {
    padding: 0 2rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about__content {
    padding-top: 4.2rem;
    text-align: center;
  }
  .about__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.145rem;
  }
  .about__description {
    padding: 0 1.5rem;
    text-align: justify;
  }
  .about__description p:nth-child(2) {
    margin-top: 2.2rem;
  }
  .pets {
    padding: 4.2rem 0;
  }
  .pets__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.145rem;
  }
  .pets__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 4.2rem;
  }
  .pets__content .pets__cards {
    padding: 4.2rem 0 1.7rem;
    width: 30rem;
    overflow: hidden;
  }
  .pets__content .pets__cards .pets__card {
    margin: 0 1.5rem;
    min-width: 27rem;
  }
  .pets__content .slider-button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 4rem;
  }
  .pets__content .slider-button_reverted {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .help {
    margin: 4.2rem 0 0.1rem;
  }
  .help__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.145rem;
  }
  .help__content {
    margin: 4.2rem 0.5rem;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    row-gap: 3.1rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .help__content .help__item {
    width: 13rem;
  }
  .help__item-title {
    margin-top: 2rem;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.09rem;
  }
  .help__item-icon {
    width: 5rem;
    height: 5rem;
  }
  .donation {
    padding: 4.2rem 0;
  }
  .donation__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .donation__content {
    margin: 0;
  }
  .donation__image-wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 2.3rem;
  }
  .donation__image {
    width: 26rem;
  }
  .donation__title {
    width: 27rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0 2.5rem;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.145rem;
  }
  .donation__subtitle {
    margin: 2.4rem 2.3rem 0;
    letter-spacing: normal;
  }
  .donation__payment {
    margin: 2.4rem 1.9rem 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .donation__payment-text {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.09rem;
  }
  .donation__description {
    margin: 2rem;
    text-align: justify;
  }
  .footer {
    padding-top: 0;
  }
  .footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .footer__image-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__image {
    max-width: 26rem;
  }
  .footer__content {
    margin: 3rem 0rem 9rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    row-gap: 4rem;
  }
  .footer__locations-title {
    margin-left: 0.7rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__contacts {
    margin-left: 1rem;
  }
  .footer__contacts-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */