$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;

$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-light-xl: #ffffff;

$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$start-screen-gradient-background: url(../../assets/img/noise_transparent.png),
  radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
$footer-screen-gradient-background: url(../../assets/img/noise_transparent@2x.png),
  radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
  #211f20;

@mixin h2 {
  font: {
    family: Georgia;
    style: normal;
    weight: 400;
    size: 4.4rem;
  }
  line-height: 130%;
}

@mixin h3 {
  font: {
    family: Georgia;
    style: normal;
    weight: 400;
    size: 3.5rem;
  }
  line-height: 130%;
  letter-spacing: 0.21rem;
}

@mixin h3-mobile {
  font: {
    family: Georgia;
    style: normal;
    weight: 400;
    size: 2.5rem;
  }
  line-height: 130%;
  letter-spacing: 0.145rem;
}

@mixin h4 {
  font: {
    family: Georgia;
    style: normal;
    weight: 400;
    size: 2rem;
  }
  line-height: 110%;
  letter-spacing: 0.12rem;
}

@mixin h5 {
  font: {
    family: Georgia;
    style: normal;
    weight: 400;
    size: 1.5rem;
  }
  line-height: 110%;
  letter-spacing: 0.09rem;
}

@mixin paragraph-l {
  font: {
    family: Arial;
    style: normal;
    weight: 400;
    size: 1.5rem;
  }
  line-height: 160%;
}

@mixin paragraph-s {
  font: {
    family: Arial;
    style: italic;
    weight: 400;
    size: 1.2rem;
  }
  line-height: 150%;
}

@mixin logo-title {
  font: {
    family: Georgia;
    style: normal;
    weight: 400;
    size: 3.2rem;
  }
  line-height: 110%;
  letter-spacing: 0.2rem;
}

@mixin logo-subtitle {
  font: {
    family: Arial;
    style: normal;
    weight: 400;
    size: 1.3rem;
  }
  line-height: 110%;
  letter-spacing: 0.13rem;
}

@mixin slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.2rem;
  height: 5.2rem;
  border: 3px solid $color-primary;
  border-radius: 100%;
  padding: 1.9rem;
  background: none;
  cursor: pointer;
  transition-duration: 0.3s;
  &:hover {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
  }
}

@mixin button() {
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  border-radius: 10rem;
  line-height: 130%;
  letter-spacing: 0.11rem;
  cursor: pointer;
  outline: none;
  transition-duration: 0.3s;
}

@mixin button_primary() {
  @include button;
  background-color: $color-primary;
  border: none;
  &:hover {
    background-color: $color-primary-light;
  }
}

@mixin button_secondary() {
  @include button;
  background-color: transparent;
  border: 2px solid $color-primary;
  &:hover {
    border-color: $color-primary-light;
    background-color: $color-primary-light;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  font-size: 10px;
}

.invisible {
  margin: 0;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 120rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header {
  width: 100vw;
  max-width: 100%;
  position: absolute;
  top: 6rem;
}

.logo {
  display: flex;
  flex-flow: column;

  &__title {
    color: $color-primary;
    @include logo-title;
  }

  &__subtitle {
    margin-top: 1rem;
    color: $color-light-xl;
    text-align: center;
    @include logo-subtitle;
  }
}

.menu {
  width: 44.3rem;
  display: flex;
}

.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;

  .list__item {
    display: flex;
    align-items: center;

    .list__link {
      color: $color-light-xl;
      text-decoration: none;
      font-family: Arial;
      font-size: 1.5rem;
      line-height: 160%;

      &_active {
        border-bottom: 0.3rem solid $color-primary;
      }

      &_disabled {
        color: $color-dark-s;
      }
    }

    .list__link:hover {
      color: $color-light-xl;
      cursor: pointer;
    }
  }
}

.main {
  display: flex;
  flex-flow: column;
}

.hero {
  padding-top: 18rem;
  display: flex;
  background: $start-screen-gradient-background;

  &__wrapper {
    width: 120rem;
    display: flex;
    justify-content: space-between;
  }

  &__image-wrapper {
    display: flex;
  }

  &__image {
    width: 100%;
    max-width: 69.8rem;
    max-width: 72.8rem;
  }
}

.content-section {
  padding-bottom: 8rem;
  max-width: 46.8rem;
  display: flex;
  flex-flow: column;
  justify-content: center;

  &__title {
    max-width: 31rem;
    color: $color-light-xl;
    @include h2;
  }

  &__subtitle {
    margin-top: 4.2rem;
    font-size: 1.5rem;
    color: $color-dark-s;
    font-family: Arial;
    line-height: 160%;
  }

  &__button {
    margin-top: 4rem;
    @include button_primary;
  }
}

.about {
  display: flex;
  background-color: $color-light-xl;
  &__wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 8rem 17.5rem 10rem;
  }

  &__image-wrapper {
    display: flex;
  }

  &__image {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: 43rem;
  }

  &__title {
    display: flex;
    flex-flow: column;
    @include h3;
    color: $color-dark-l;
  }

  &__description {
    margin-top: 2.5rem;
    p {
      @include paragraph-l;
      color: $color-dark-xl;
      &:nth-child(2) {
        margin-top: 2.5rem;
      }
    }
  }
}

.pets {
  padding-top: 8rem;
  padding-bottom: 10rem;
  background-color: $color-light-l;
  &__wrapper {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &__title {
    max-width: 40rem;
    display: flex;
    flex-flow: column;
    text-align: center;
    @include h3;
    color: $color-dark-l;
  }

  &__content {
    display: flex;
    align-items: center;
    .pets__cards {
      padding: 6rem 0.8rem;
      display: flex;
      .pets__card {
        margin: 0 4.5rem;
        display: flex;
        flex-flow: column;
        border-radius: 0.9rem;
        &__image {
          width: 100%;
        }
        &__content {
          padding-bottom: 3rem;
          display: flex;
          flex-flow: column;
          align-items: center;
        }
        &__title {
          margin: 3rem 0;
          @include h4;
          text-align: center;
        }
        &__button {
          @include button_secondary;
        }
      }

      .pets__card:hover {
        cursor: pointer;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
      }
    }

    .slider-button {
      @include slider-button;
    }

    .slider-button_reverted {
      transform: rotate(180deg);
      @include slider-button;
    }
  }

  &__button {
    @include button_primary;
  }
}

.help {
  margin-top: 8.5rem;
  margin-bottom: 10rem;

  &__wrapper {
    display: flex;
    flex-flow: column;
  }

  &__title {
    color: $color-dark-l;
    text-align: center;
    @include h3;

    span {
      display: block;
    }
  }

  &__content {
    margin-top: 6rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 12rem;
    row-gap: 5.5rem;
  }

  &__item {
    display: flex;
    flex-flow: column;
    align-items: center;
    &-title {
      margin-top: 3rem;
      color: $color-dark-l;
      text-align: center;
      letter-spacing: 0.11rem;
      @include h4;
    }
  }
}

.donation {
  padding-top: 8rem;
  padding-bottom: 10.15rem;
  background-color: $color-light-l;
  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    margin-left: 3rem;
    max-width: 38rem;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }

  &__title {
    width: 29rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: $color-dark-l;
    @include h3;
    line-height: 135%;
  }

  &__subtitle {
    margin-top: 2rem;
    color: $color-dark-l;
    @include h5;
  }

  &__payment {
    @include button_primary();
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    display: flex;

    &-text {
      padding-left: 1.5rem;
      text-decoration: none;
      color: $color-dark-l;
      @include h4;
      letter-spacing: 0.12rem;
    }
  }

  &__description {
    margin-top: 2rem;
    color: $color-dark-m;
    @include paragraph-s();
  }
}

.footer {
  padding-top: 3.8rem;
  background: $footer-screen-gradient-background;

  &__image-wrapper {
    max-height: 31rem;
    overflow: hidden;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    column-gap: 16rem;
  }

  &__locations,
  &__contacts {
    display: flex;
    flex-flow: column;
    row-gap: 4rem;
    &-title {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      color: $color-light-xl;
      @include h3;

      span {
        display: block;
      }
    }

    &-boston,
    &-london,
    &-phone,
    &-mail {
      display: flex;
      align-items: center;
      &-address,
      &-text {
        margin-left: 2rem;
        color: $color-primary;
        @include h4;
        text-decoration: none;
        span {
          display: block;
        }
      }
    }
  }

  &__locations {
    row-gap: 3.4rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  header {
    top: 3rem;
  }

  .wrapper {
    max-width: 76.8rem;
    padding: 0 3rem;
  }

  .hero {
    padding-top: 15.1rem;
    &__wrapper {
      width: 76.8rem;
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 10rem;
    }

    .content-section {
      max-width: 46rem;
      padding-bottom: 0rem;
      justify-content: center;
      &__button {
        margin-top: 4.25rem;
      }
      &__button__wrapper {
        align-self: center;
      }
    }

    &__image-wrapper {
      padding-left: 14rem;
    }
  }

  .about {
    &__wrapper {
      justify-content: center;
      padding: 8rem 10rem 10rem;
    }

    &__image-wrapper {
      margin-top: 8rem;
      order: 2;
    }

    &__content {
      max-width: 43.5rem;
    }
  }

  .pets {
    &__content {
      width: 70.8rem;
      .pets__cards {
        margin: 0 1.2rem;
        padding: 5.8rem 0rem;
        overflow: hidden;
        width: 58rem;
        .pets__card {
          margin: 0 0rem;
          min-width: 27rem;
        }
        .pets__card:nth-child(2) {
          margin: 0 4rem;
        }
      }
    }
  }

  .help {
    &__content {
      margin: 5.5rem 3.9rem 0.3rem;
      column-gap: 6rem;
      .help__item {
        min-width: 17rem;
      }
    }
  }

  .donation {
    padding-top: 0rem;
    padding-bottom: 9.95rem;

    &__wrapper {
      flex-wrap: wrap;
    }

    &__content {
      margin: 7.8rem 0 6rem;
    }

    &__image-wrapper {
      order: 2;
    }
  }

  .footer {
    padding-top: 3rem;
    .wrapper {
      flex-wrap: wrap;
      flex-flow: column;
      align-items: center;
      row-gap: 6.5rem;
    }
    &__content {
      margin-top: 0;
      margin-left: -0.7rem;
      column-gap: 6rem;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  header {
    top: 3rem;
  }

  .wrapper {
    max-width: 32rem;
    padding: 0 1rem;
  }

  .menu {
    display: none;
  }

  .menu__burger {
    display: block;
    position: relative;
    top: 1.9rem;
    width: 3rem;
    height: 2.2rem;
    margin-right: 4.2rem;
  }

  .menu__burger::before,
  .menu__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background-color: black;
  }

  .menu__burger::after {
    top: 2rem;
  }

  .menu__burger span {
    position: absolute;
    width: 100%;
    height: 0.2rem;
    top: 1rem;
    background-color: black;
  }

  .hero {
    padding-top: 15.2rem;
    &__wrapper {
      flex-wrap: wrap;
      row-gap: 2.6rem;
    }

    .content-section {
      text-align: center;

      &__title {
        text-align: center;
        @include h3-mobile;
      }
    }

    &__image-wrapper {
      padding-left: 4rem;
    }
  }

  .about {
    &__wrapper {
      justify-content: center;
      row-gap: 4rem;
      padding-bottom: 4.3rem;
    }

    &__image-wrapper {
      padding: 0 2rem;
      order: 2;
    }

    &__content {
      padding-top: 4.2rem;
      text-align: center;
    }

    &__title {
      @include h3-mobile;
    }

    &__description {
      padding: 0 1.5rem;
      text-align: justify;
      p:nth-child(2) {
        margin-top: 2.2rem;
      }
    }
  }

  .pets {
    padding: 4.2rem 0;
    &__title {
      @include h3-mobile;
    }
    &__content {
      flex-flow: row wrap;
      justify-content: center;
      padding-bottom: 4.2rem;
      .pets__cards {
        padding: 4.2rem 0 1.7rem;
        width: 30rem;
        overflow: hidden;
        .pets__card {
          margin: 0 1.5rem;
          min-width: 27rem;
        }
      }
      .slider-button {
        order: 1;
        margin: 0 4rem;
      }
      .slider-button_reverted {
        order: 1;
      }
    }
  }

  .help {
    margin: 4.2rem 0 0.1rem;
    &__title {
      @include h3-mobile;
    }
    &__content {
      margin: 4.2rem 0.5rem;
      column-gap: 3rem;
      row-gap: 3.1rem;
      justify-content: flex-start;
      .help__item {
        width: 13rem;
      }
    }

    &__item {
      &-title {
        margin-top: 2rem;
        @include h5;
      }
      &-icon {
        width: 5rem;
        height: 5rem;
      }
    }
  }

  .donation {
    padding: 4.2rem 0;
    &__wrapper {
      flex-wrap: wrap;
    }

    &__content {
      margin: 0;
    }

    &__image-wrapper {
      order: 2;
      margin-top: 2.3rem;
    }
    &__image {
      width: 26rem;
    }
    &__title {
      width: 27rem;
      justify-content: space-evenly;
      margin: 0 2.5rem;
      @include h3-mobile;
    }
    &__subtitle {
      margin: 2.4rem 2.3rem 0;
      letter-spacing: normal;
    }
    &__payment {
      margin: 2.4rem 1.9rem 0;
      align-items: center;
      &-text {
        @include h5;
      }
    }
    &__description {
      margin: 2rem;
      text-align: justify;
    }
  }

  .footer {
    padding-top: 0;
    .wrapper {
      flex-flow: column;
    }
    &__image-wrapper {
      display: flex;
      justify-content: center;
    }
    &__image {
      max-width: 26rem;
    }
    &__content {
      margin: 3rem 0rem 9rem;
      flex-flow: row wrap;
      row-gap: 4rem;
    }

    &__locations {
      &-title {
        margin-left: 0.7rem;
        align-items: center;
      }
    }

    &__contacts {
      margin-left: 1rem;
      &-title {
        display: flex;
        align-items: center;
      }
    }
  }
}
